.total-div{
    display: flex;
    justify-content: space-between;
    padding: 30px 22%;
}
.clear-cart{
    padding: 10px 10px;
    color: white;
    background-color: black;
    text-align: center;
    display: inline;
    align-items: center;
    justify-content: center;
    border: none;
    font-style: italic;
    margin: 10px 45% ;
    /* height: 100vh; */

}